body {
    background-color: #4a4860;
}

.content {
    background-color: revert;
    overflow:auto;
    border-top: none;
}

.sidebar-container {
    background-color: #212529;
    width: fit-content;
    margin: 20px 10px 20px 20px;
    padding: 15px;
    border: 1px solid #472ea4;
    float: left;
}

.sidebar-title-big {
    color: #7059b5;
    font-size: 26px;
    font-weight: 500;
    margin: 5px;
    text-decoration: none;
}

.sidebar-title-medium {
    color: #9482c8;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    text-decoration: none;
}

.sidebar-item {
    color: #b7acda;
    font-size: 18px;
    margin: 0 0 0 15px;
    text-decoration: none;
}

.sidebar-item-sub {
    color: #dbd5ed;
    font-size: 18px;
    margin: 0 0 0 30px;
    text-decoration: none;
}

#document_page {
     display:block;
     background-color: #212529;
     margin: 20px 20px 20px 10px;
     padding: 5px;
     border: 1px solid #472ea4;
     overflow: hidden;
     height: fit-content;
 }